<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="io.treehopper.app">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="Treehopper" android:icon="@drawable/Icon"></application>
</manifest>